body {
  background-color: #343d4b;
}
.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 400;
}
h2.mb-1.day {
  font-size: 3rem;
  font-weight: 500;
}
.main-div {
  border-radius: 20px;
  color: #fff;
  background-image: url("../img/sky.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}
.temp {
  position: absolute;
  bottom: 0;
}
h2.forecast {
  color: #fff;
}
.card-2 {
  background-color: #212730;
  border-radius: 20px;
}
.card-details {
  margin-left: 10px;
}
.h1_left {
  position: absolute;
  bottom: 25px;
  left: 16px;
  font-size: 4rem;
  line-height: 1.2;
}
.h3_left {
  position: absolute;
  left: 16px;
  font-size: 2rem;
  line-height: 0.5;
}
.h3_left small {
  font-size: 1rem;
}
table {
  position: relative;
  left: 15px;
  border-collapse: separate;
  border-spacing: 15px;
  width: 85%;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}
th,
td {
  font-size: 18px;
  color: #fff;
}
td {
  text-align: right;
}
table,
tr:hover {
  color: red;
}
.change_btn {
  background-image: linear-gradient(
    to right,
    rgb(20, 139, 139),
    rgb(145, 134, 229)
  );
}
.change_btn:hover {
  transform: scale(0.9);
}
